* {
    background:                     #1e1e2e;
    background-alt:                 #313244;
    foreground:                     #ffffffcc;
    border:               			#FDBB6Dff;
    border-alt:               		#DA717Fff;
    selected:               		#685E79ff;
    urgent:                         #DA4453FF;
    blue:#5e81ac;
}

